.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgb(224, 186, 186);
  transition: width 0.2s ease;
}

.nav-link:hover::after {
  width: 100%;
}
